ExcelUtilitySolution/.vs/
ExcelUtilitySolution/ExcelUtilityConsole/bin/
ExcelUtilitySolution/ExcelUtilityConsole/obj/
ExcelUtilitySolution/ExcelUtilityLibrary/bin/
ExcelUtilitySolution/ExcelUtilityLibrary/obj/
